body{
    background-color: rgba(40,40,40,1);
}
a.h1{
    text-shadow: 0 0 3px rgba(210,84,20,1);
}
a{
    color: rgba(210,84,20,1);
}
.offcanvas-body > ul > li{
    color: rgba(210,84,20,1);
}
.container{
    margin: 30px 0 0 0;
}
#mail-form{
    color: #fff;
}
#tm{
    color: #FFF;
    text-align: center;
    color: #000;
}
#tm > ion-icon{
    font-size: 18px; 
    color: #000;
    text-align: center;
    top: 0;
    bottom: 0;
}
.card{
    height: 594px;
    overflow: auto;
    border: 4px solid rgba(210,84,20,1);
}
form{
    padding: 5px 0 0 0;
}
#nav-links{
    margin: 0 75px 0 0 ;
}
#bottom-border{
    border-bottom: 4px solid rgba(210,84,20,1);
    
}
#border-top{
    border-top: 4px solid rgba(210,84,20,1);
}
#lack{
    border: 4px solid rgba(210,84,20,1);
    background-color: #fff;
}