body{
    background-color: rgba(40,40,40,1);
}
#heading-color{
    color: #FFF;
}
#nav-sticky{
    background-color: rgba(40,40,40,1);
}
#font-li{
    padding: 0 0 10px 0 ;
}
#font-li > li > a{
    color: rgba(210,84,20,1);
}
#font-li > li > a:hover{
    color: #FFF;
    transform: scale(1.1);
    transition: 0.3s;
}
#card-div{
    padding: 30px 0 0 0;
}
#mail-form{
    color: #fff;
}
